.start {
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    background-color: #63c9c7;
    text-align: center;
    color: rgb(21, 5, 94);

}

.pic {
    flex-basis: 50%;

}

.text {
    flex-basis: 50%;

}



.dance {
    max-width: 100%;
    background-color: rgb(53, 162, 212);
}

.duo {
    /* max-width: 100%; */
    width: 50%;
}

h1 {
    margin: 100px;
    font-size: 70px;
    color: rgb(233, 20, 144);
}

h3 {
    font-size: 70px;
}

h4 {
    font-size: 80px;
    color: red;
}

.iduo {
    max-width: 100%;

    background-color: #63c9c7;

}

.textduo {
    font-size: 50px;
    color: rgb(21, 5, 94);
    border: 5px;
    border-radius: 50%;
    border-color: aquamarine;

}

.wrapperZ {
    display: flex;
    flex-direction: column;
}


.headerZ {
    flex: 0 0 40px;
    background-color: chocolate;
}

.contentZ {
    flex: 0 0 9000px;
    background-image: linear-gradient(180deg, #63c9c7 25%, #d43811);
    ;
}

.footerZ {
    flex: 0 0 100px;
    background-color: chocolate;
}



.start2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 50px;
    background-color: #63c9c7;
    text-align: center;
    color: rgb(21, 5, 94);

}


.music {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid red;
}

.audiotrec {
    /* border: 2px solid red; */
    padding: 50px 20px 100px 20px;
}

.buttonaudio {
    border: 2px solid red;
}

.promptaudio {
    display: none;
    border: 2px solid red;
}

.prompvideo {
    display: none;
    border: 2px solid red;
}
.instuctionaudio {
    display: flex;
    padding: 100px 0px 0px 0px;
    font-size: 40px;
    font-weight: 1000;
    color: rgb(30, 112, 5);
    align-items: center;
    text-align: center;
    /* border: 2px solid red;
} */



   